production:
  adapter: mysql2
  encoding: utf8
  pool: 5
  reconnect: false
  host: localhost
  database: {{ item.database.database }}
  username: {{ item.database.username }}
  password: {{ item.database.password }}
